html, body{
  height: 100% !important;
  width: auto!important; 
  overflow-x: hidden!important
}

body {
  background: #fff !important;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif !important;
  color: #000 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.container-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.no-webp .right {
  background-color: #5a5e78;
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(/img/mobile_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.webp .right {
  background-color: #5a5e78;
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(/img/mobile_background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  margin: 16px;
  max-width: 490px;
}

.hero h1 {
  font-size: 28px;
  line-height: 34px;
  max-width: 360px;
}

.hero-logo {
  width: 70px;
}

.hero-actions {
  margin-top: 36px;
}

.hero-actions a.hero-app img {
  width: 140px;
}

.hero-actions a.hero-app:first-child {
  margin-right: 8px;
}

.hero-powered, .hero-powered a {
  color: #999
}

.hero-powered {
  margin-top: 64px;
  font-size: 14px;
}

.hero-powered a {
  text-decoration: underline;
}

.hero-video {
  margin: auto;
  width: 367px;
  height: 699px;
  background-image: url(../img/iphone.png);
  background-size: 367px 699px;
  margin: 16px;
}

.hero-screen {
  margin: auto;
  width: 367px;
  height: 699px;
  margin: 16px;
}

.hero-video video {
  position: relative;
  left: 45px;
  top: 105px;
  width: 277px;
}

.hero-video img {
  position: relative;
  left: 45px;
  top: 105px;
  width: 277px;
  height: 492px;
  background-size: 367px 699px;
}

.hero-screen img {
  position: relative;
  right: 120px;
  top: 20px;
  width: 600px;
  height: 650px;
  background-size: 367px 699px;
}

.section-secure{
  padding-top: 50px;
  background-color: #faf9f9 !important;
  flex-direction: column;
}

.section-specialized{
  padding-top: 50px;
  flex-direction: column;
}

.section-superior{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #faf9f9 !important;
  flex-direction: column;
}

.no-webp .section-features {
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background-color: #5a5e78 !important;
  background-image: url(/img/desk_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.webp .section-features {
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background-color: #5a5e78 !important;
  background-image: url(/img/desk_background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.section-claimitems{
  padding-top: 50px;
  background-color: #faf9f9 !important;
  flex-direction: column;
}

.section-revenue{
  padding-top: 50px;
  flex-direction: column;
}
.section-newclaim{
  padding-top: 50px;
  background-color: #faf9f9 !important;
  flex-direction: column;  
}

.section-records{
  padding-top: 50px;
  flex-direction: column;
}

.section-started{
  padding-top: 50px;
  background-color: #faf9f9 !important;
  flex-direction: column;
}

.section-pricing{
  padding-top: 50px;
  flex-direction: column;
  background-color: #faf9f9 !important;
}

.section-sixmonth{
  padding-top: 50px;
  background-color: #faf9f9 !important;
  flex-direction: column;
}

.section-contact{
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
}

.section-footer{
  padding-top: 50px;
  flex-direction: column;
  background-color: #5a5e78 !important;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.col-container {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:flex-start;
  align-items:stretch;
}

.col {
  flex: 1;
  padding: 16px;
}

.drop-shadow {
  /* box-shadow: 0px 20px 30px #EBECEF; */
  border-radius: 12px;
}
.container .drop-shadow {
  padding-left:10;
  padding-right:10;
}

.row-padded {
 /*  background-color: #faf9f9 !important; */
}

.heading-padded {
  padding-bottom: 80px;
}

[class*="col-"] {
  background-clip: padding-box;
  border: 10px solid transparent;
}

.fa {
  background-color: #5a5e78;
  display: inline;
  color: #428bca;
  margin-top: -31px;
  border-radius: 50%;
  border: 2px solid #428bca !important;
  text-align: center;
  vertical-align: middle;
  width: 15% !important;
} 

.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 3px solid #428bca;
  border-right: 3px solid #428bca;
}

.card-4 {
  -webkit-box-shadow: 0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12) !important;
  box-shadow:0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12) !important;
}

.media-left img {background: #8fb8df;
  padding: .70em;
  width:75px; /** fix width ***/
  text-align: center;
  display: inline;
  border-radius: 50%;
  border:1px solid black; 
  line-height: 50px;  /** for vertical center - if needed **/
}

@media screen and (max-width: 690px) {
  .container-hero {
    flex-direction: column;
    height: auto;
  }

  .right {
    width: 100%;
  }

  .hero {
    margin: 32px 16px;
  }

  .hero-video {
    margin: 32px auto;
  }

  .hero-screen {
    margin: 32px auto;
  }

}

@media screen and (max-width: 480px) {

  [class*="col-"] {
    padding: 0px;
    padding-bottom: 15px;
    margin: 0px;
    border: 0px;
  }

  .hero-video {
   margin: 32px auto;
   padding-left: 0px !important;
   padding-right: 0px !important;
  }

  .hero-screen {
    margin: 32px auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
   }

  .fa {
    padding: .2em;
    width:75px; /** fix width ***/
    text-align: center;
    display: inline;
    border-radius: 50%;
    border:1px solid black; 
    line-height: 50px;  /** for vertical center - if needed **/
  }

} 


.footer-3 {
  padding: 4.875em 0;
  overflow: hidden;
  color: white;
}
.footer-3 div[class*='col-']:first-child {
  padding-left: 3.25em;
}
.footer-3 div[class*='col-']:last-child {
  padding-right: 3.25em;
}
.footer-3 .logo {
  max-height: 2.4375em;
  display: block;
  margin-bottom: 0.8125em;
}
.footer-3 a.type--underline {
  display: block;
}
.footer-3 .footer__navigation li {
  display: inline-block;
}
.footer-3 .footer__navigation li:not(:last-child) {
  margin-right: 3.25em;
}
.footer-3 .footer__navigation li a {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  margin-bottom: 0;
  font-size: 0.625em;
  line-height: 2.6em;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2.36363636363636em;
}
.footer-3 .social-list {
  margin-bottom: 1.625em;
}
.footer-3 .type--fine-print {
  opacity: .5;
}
@media all and (max-width: 990px) {
  .footer-3 div[class*='col-']:first-child {
    padding-left: 1.625em;
  }
  .footer-3 div[class*='col-']:last-child {
    padding-right: 1.625em;
  }
}
@media all and (max-width: 767px) {
  .footer-3 div[class*='col-']:first-child {
    padding-left: 15px;
  }
  .footer-3 div[class*='col-']:last-child {
    padding-right: 15px;
  }
  .footer-3 .logo {
    margin: 0 auto;
    margin-bottom: 1.625em;
  }
  .footer-3 .footer__navigation {
    margin-top: 1.625em;
  }
}

.navbar {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.line-spacing-one-quarter {
  line-height: 1.25;
  padding-bottom: 10px;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

.margin-top-15 {
  margin-top: 15px !important;  
}

.border-radius-top {
  border-radius: 4px 4px 0px 0px !important;
}

/**
*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
*  background-color: #5a5e78 !important;
*}
*/

.panel-transparent {
  background: none;
  border-color: white !important;
  background-color: transparent !important;
  margin: 0px 10px 0px 10px; 

}
.panel-transparent .panel-heading {
  background-color: transparent !important;
  border-bottom: 0px solid transparent !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  padding: 0 !important;
}
.panel-transparent .panel-body {
  background transparent !important;
  color: white !important;
}
.text-white { color: #FFF; }

.bottom-line {
  border-bottom: 2px solid #428bca !important;
  margin-bottom: 20px;
}

.p-70 {
  padding: 70px 0;
}
.section-head {
  margin-bottom: 64px;
  text-align: center;
}

.section-head h2 {  
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif !important;
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 16px;
  color: var(--typeColor);
}
* DIRTY Responsive pricing table CSS */

/* 
- make mobile switch sticky
*/
* {
  box-sizing:border-box;
  padding:0;
  margin:0;
  outline: 0;
}

article {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  height:1000px;
  position:relative;
}
.comp ul {
  display:flex;
  top:0px;
  z-index:10;
  padding-bottom:14px;
}
.comp li {
  list-style:none;
  flex:1;
}
.comp li:last-child {
  border-right:1px solid #DDD;
}
button {
  width:100%;
  border: 1px solid #DDD;
  border-right:0;
  border-top:0;
  padding: 10px;
  background:#FFF;
  font-size:14px;
  font-weight:bold;
  height:60px;
  color:#999
}
li.active button {
  background:#F5F5F5;
  color:#000;
}
table { border-collapse:collapse; table-layout:fixed; width:100%; }
th { background:#F5F5F5; display:none; }
td, th {
  height:53px;
  padding: 10px !important;
}
td,th { border:1px solid #DDD; padding:10px; empty-cells:show; }
td,th {
  text-align:left;
}
td+td, th+th {
  text-align:center;
  display:none;
}
td.default {
  display:table-cell;
  background-color: #eef7fa;
}
.bg-purple {
  border-top:3px solid grey;
}
.bg-blue {
  border-top:3px solid grey;
}
.sep {
  background:#F5F5F5;
  font-weight:bold;
}
.txt-l { font-size:28px; font-weight:bold; }
.txt-top { position:relative; top:-9px; left:-2px; }
.tick { font-size:18px; color:#2CA01C; }
.question { font-size:20px; }
.space-holder {
  border:0px;
  background:none;
}

@media (min-width: 640px) {
  ul.comp {
    display:none;
  }
  td,th {
    display:table-cell !important;
  }
  td,th {
    width: 330px;
  
  }
  td+td, th+th {
    width: auto;
  }
}